*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headBar{
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: red;
}

.headTitle{
    padding: 10px;
}

.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(193, 193, 193);
}

.cards{
    width: 320px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    border: 1px dotted black;
}

.cards:hover{
    box-shadow: 0px 0px 30px 20px;
    border: 0px;
    transition: all 400ms;
}

.card_img{
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card_info{
    margin: 20px;
}

.card_category{
    font-size: 15px;
    border-top: 2px solid;
}

.card_title{
    margin: 10px;
}

.cards button{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    font-family: monospace;
    border-radius: 8px;
    padding: 2px 10px;
}

.cards button:hover{
    color:rgb(230, 48, 48);
    cursor: pointer;
}